.top-article,.under-div{
    background-color: var(--main-color-11);
}





.music-player{
    
    width: 253px;
    /* padding:25px 35px; */
    text-align: center;
display: flex;
align-items: center;
}
.ic{
    width: 50px;
height: 50px;
flex-shrink: 0;
background-color: #fff;
border-radius: 50%;
border: 5px solid #F5B078;
display: flex;
justify-content: center;
align-items: center;
}
.ic i{
    font-size: 20px;
}
input[type="range"] {
  /* removing default appearance */
  -webkit-appearance: none;
  appearance: none; 
  /* creating a custom design */
  width: 100%;
  cursor: pointer;
  outline: none;
  /*  slider progress trick  */
  overflow: hidden;
  border-radius: 16px;
  height: 5px;
  margin-left: -4px;
}

/* Track: webkit browsers */
input[type="range"]::-webkit-slider-runnable-track {
  height: 5px;
  background: #fff;
  border-radius: 16px;
}

/* Track: Mozilla Firefox */
input[type="range"]::-moz-range-track {
  height: 5px;
  background: #fff;
  border-radius: 16px;
}

/* Thumb: webkit */
input[type="range"]::-webkit-slider-thumb {
  /* removing default appearance */
  -webkit-appearance: none;
  appearance: none; 
  /* creating a custom design */
  height: 8px;
  width:8px;
  background-color: #F5B078;
  border-radius: 10%;
  border: 2px solid #F5B078;
  /*  slider progress trick  */
  box-shadow: -407px 0 0 400px #F5B078;
}


/* Thumb: Firefox */
input[type="range"]::-moz-range-thumb {
  height: 15px;
  width: 15px;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid #F5B078;
  /*  slider progress trick  */
  box-shadow: -407px 0 0 400px #F5B078;
}


#currentTime{
   color: var(--white, #FFF);
    text-align: right;
    font-family: Almarai;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    position: absolute;
    right: 0;
    top: 32px;
}