*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
}
body{
    background-color: #F5F5F5;
     font-family: "Almarai", sans-serif;
}
.html5-video-player .video-stream {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100px;
}
section{
    width: 360px;
height: 800px;
flex-shrink: 0;
border-radius: 40px;
background: url(<path-to-image>) lightgray 50% / cover no-repeat;
margin:20px auto ;
overflow: hidden;
}
.plyr{
    width: 100%;
    height: 100%;
}

.plyr_video-embed{
    position: relative;
}
ul{
    position: absolute;
    top: 60px;
    left: 24px;
}
ul li{
    margin-bottom: 15px;
}
.plyr__controls__item  .plyr__control{
        position: relative;
    left: -4px;
    bottom: 495px;
    z-index: 100;
}
.plyr__controls__item {
    width: 316px;
height: 1.924px;
    position: absolute;
    bottom: 147px;
    left: 50%;
    transform: translateX(-50%);
}
.content{
background-color: transparent;
    width: 313px;
    height: 45px;
    flex-shrink: 0;
    position: absolute;
    bottom: 80px;
    color: white;
    z-index: 200;
}
.content p{
    color: #FFF;
text-align: right;
font-family: Almarai;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 130%; /* 15.6px */
}
.content h2{
    color: var(--white, #FFF);
    text-align: right;
    font-family: Almarai;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 25.2px */
    margin-bottom: 15px;
}
/* iframe{
    height: 100%!important;
    width: 100%!important;
}
.plyr__controls{
    position: relative;
} 
video{
    width: ;
    height: 100% !important;
} */
.logo{
    position: absolute;
    top: 54px;
    right: 22px;
}